<!-- Logout Button -->
<!-- <button routerLink="/dashboard" class="btn btn-link" style="float: right;color: blue;">Home</button> -->
<button (click)="logout()" class="btn btn-link" style="float: right;color: blue;">Logout</button>
<!-- Logout Button -->
<div class="container" style="margin-top: 3em;">
    <p-tabView>
        <p-tabPanel header="List of claims">

            <!-- Summary Page -->
            <app-accsummary></app-accsummary>
            <!-- Summary Page -->
        </p-tabPanel>

    </p-tabView>
</div>